.border-pending {
  border: 1px solid #f0ad4e;
  box-shadow: 4px 4px 10px 2px #f0ad4e;
}

.border-completed {
  border: 1px solid limegreen;
  box-shadow: 4px 4px 10px 2px limegreen;
}

.card-container {
  min-height: 200px;
}

.taskcard-divider {
  margin-bottom: 3rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.edit-icon {
  position: absolute;
  right: 60px;
  left: 10;
}

.edit-icon-delete {
  right: 10px;
}
