<div class="container">
  <div class="task-container">
    <h1 class="task-heading">Task App</h1>
    <app-input></app-input>
    <app-select></app-select>
    <app-description></app-description>
    <button
      mat-raised-button
      color="primary"
      class="create-task-btn"
      (click)="onCreateBtnClick()"
    >
      Create Task
    </button>
    <div class="row">
      <div *ngFor="let task of tasks" class="col-sm-4 task-card-container">
        <app-taskcard [task]="task"></app-taskcard>
      </div>
    </div>
  </div>
</div>
